[2013-12-30 12:43] samzurcher opened #1 "NullPointerException in SubjectPresentAction"
In case it is an authorized action and

[code]

is false, the variable result is null which results in a NullPointerException in line 56.

[2014-01-24 22:14] #1 closed, assigned to schaloner

[2014-03-13 15:27] craigwblake opened #3 "beforeAuthCheck never gets called"
I am integrating Deadbolt2 with a Play 2.2 Java application, and am running into behavior that seems different from what's documented.

I have the @SubjectPresent annotation on several actions, and when not logged in the onAuthFailure() method of the handler is called as expected to redirect to login.  However, my the beforeAuthCheck() call in my security handler is never called.

[2014-06-13 07:16] #3 closed, assigned to schaloner

[2014-12-31 01:16] istvano opened #5 "@Pattern and @Restrict actions never get called"
Hi,

I have an interesting problem I am running play 2.3

SubjectPresent and SubjectNotPresent both work very well.
Although no matter how I mark my actions with Restrict and Pattern annotations they do not get triggered.

is there something in the docs I am missing ?
is there a way to debug this ? I enabled logging but as far as I can see there is no logging in the classes.

My deadbolt config is

[2015-01-05 08:41] schaloner commented on #5
Could you post your implemention of security.HttpHeaderDeadboltHandler?

Incidentally, "handler" is an alias for "handlers.defaultHandler" - you don't need to define both.

[2015-01-05 09:34] istvano commented on #5
Hi,

Thanks for having a look! I am not sure what is wrong. Also my getSubject is blocking is there a way to make that non-blocking ?

public class HttpHeaderDeadboltHandler extends AbstractDeadboltHandler {

    private UserProvider provider = null;

    public HttpHeaderDeadboltHandler() {
        provider = new HeaderUserProvider();
    }
    /**
     * Validates if the remote user header is pr

[2015-04-08 11:14] mkurz opened #7 "v2.3.3 breaks Play's JPA implementation"
I just upgraded to deadbolt-2-java `v2.3.3` (from `v2.3.2`).
Also I am using JPA/Hibernate.

### The Problem
I have a controller with a `@Restrict(@Group("mygroup"))` annotation. Inside this controller there is an action method which calls `play.db.jpa.JPA.em()` to retrieve the current hibernate entity manager. Starting with `v2.3.3` I get following exception:
[code]
### The Cause
After some resea

[2015-04-08 11:26] mkurz commented on #7
To simplify the problem create following simple project:

* run `activator new` and choose`play-java`.
* Copy these [VerboseActionFirst.java](https://gist.github.com/mkurz/442526fb670de545eca6) and [VerboseActionSecond.java](https://gist.github.com/mkurz/0a76c8a9cd56a42fd629) into `app/controllers/`.
* Replace the `app/controllers/Application.java` file with [this one](https://gist.github.com/mkur

[2015-04-08 11:50] mkurz commented on #7
One more thing (I didn't test): In case `getSubject(...)` within a custom `DeadboltHandler` also would use JPA to retrieve the subject, the bug would occur in such a case too, because `getSubject` also [gets called in a later point in time](https://github.com/schaloner/deadbolt-2-java/blob/2.3.x/code/app/be/objectify/deadbolt/java/actions/RestrictAction.java#L57-L58) because it's inside the deferr

[2015-04-08 16:59] schaloner commented on #7
I'm thinking I may have to create an extension as a separate module, and explicitly manage the transactional scope.   I'll try to get a prototype out later.

[2015-04-09 09:10] mkurz commented on #7
@schaloner There is one more thing I want to mention, just for clarification:
Please also make sure that it's safe to access `play.db.jpa.JPA.em()` not just from within an action method, but also from within any annotation that runs **after** `@Restrict` (or any other deadbolt annotation). We, for example, use custom annotations that run after `@Restrict` to set hibernate filters, which means we a

[2015-04-09 09:19] schaloner commented on #7
@mkurz I've put together a small test that works, but it's a clone of the JPA class with onRedeem() used to close the em() in place of the finally.  I'm going to write the module extension based on this, but if you want to take a look at the existing code I can mail it to you.

[2015-04-09 10:43] schaloner commented on #7
@mkurz Solution proposal is at https://gist.github.com/schaloner/082108f5f0dcc76fd64b

AsyncTransactional would replace the Play's Transactional annotations.
AsyncTransactionalAction then hooks into DeadboltJPA, which closes entity managers [when the promise redeems](https://gist.github.com/schaloner/082108f5f0dcc76fd64b#file-deadboltjpa-java-L143-L148) instead of in a finally block.

[2015-04-09 11:36] mkurz commented on #7
@schaloner The proposal looks alright, I can do some testing when I find some time.
Wouldn't it make sense to get these changes upstream into the Play project itself?

[2015-04-09 11:41] schaloner commented on #7
There's an issue here which is somewhat related: https://github.com/playframework/playframework/pull/2042

I'll write this up for the Play team and see what they come back with.

There will be a snapshot version of the fix available this evening.

[2015-04-09 11:57] mkurz commented on #7
Thanks!
I was reading through playframework/playframework#2042 - do you think after applying your proposed fix we could revert the changes in Play merged via playframework/playframework#2042? [Changing](https://github.com/playframework/playframework/pull/2042/files#diff-3df74e4be1bfca587af8c3ee4bf84152R18) `JPA.withTransactionAsync` to `JPA.withTransaction`  would not be necessary anymore - or am

[2015-04-09 12:07] schaloner commented on #7
I think that would be possible.  Once this has been tested - I'll ask Johan Dahlberg to test too - I'll prep a pull request.

[2015-04-09 12:09] mkurz commented on #7
Nice, thank you!

[2015-04-09 12:18] johdah commented on #7
@schaloner nice!

[2015-04-09 16:34] schaloner commented on #7
@mkurz @johdah game on.  I've committed an initial version (see https://github.com/schaloner/async-transactions) and it's available via sonatype so you can just add

    "be.objectify" %% "async-transactions" % "1.0-SNAPSHOT"

to your build.sbt.

After that, change your @Transactional annotations to @AsyncTransactional annotations (the parameters remain the same) and you should be good to go.

[2015-04-09 16:40] mkurz commented on #7
Are you sure? I thought the order of annotations isn't guaranteed...

[2015-04-09 18:39] johdah commented on #7
Nice, I will test it tomorrow when I am back at the office.

[2015-04-10 05:12] schaloner commented on #7
Pretty sure - I get consistent results. If I put a Restrict first, it fails every time; if I put AsyncTransactional first, it works every time.

However, testing shows I'm wrong I have a cunning back-up plan.

[2015-04-10 07:23] johdah commented on #7
I can't resolve the async-transactions dependency. Is it published at the same place as deadbolt or do I need to publish it locally? Or doesn't it support scala 2.11.x?

[2015-04-10 07:26] schaloner commented on #7
Ah, you'll need to add

    resolvers += Resolver.sonatypeRepo("snapshots")

to your build.sbt

[2015-04-10 08:33] johdah commented on #7
I have started testing it but I had to recompile it with Java 7 (depend on it) and publish it locally to get it to work.

[2015-04-10 08:40] schaloner commented on #7
Great, thanks.

I'll recompile it with Java 6 and publish it again later.

[2015-04-10 08:43] johdah commented on #7
I have only tested it on one of my issues but that issue looks like it is solved. I will make a test release and deploy it to our test server later today and test it more deeply.

[2015-04-10 09:09] mkurz commented on #7
About the annotations ordering: I could not find any specification that the order is preserved.
Play [is using](https://github.com/playframework/playframework/blob/2.3.x/framework/src/play/src/main/scala/play/core/j/JavaAction.scala#L34) `java.lang.reflect.Method.getDeclaredAnnotations()` to retrieve the annotations - it's [documentation](http://docs.oracle.com/javase/8/docs/api/java/lang/reflect/

[2015-04-10 09:14] mkurz commented on #7
@schaloner Will you also make a PR with the fix against the Play framework repo?

[2015-04-10 09:20] schaloner commented on #7
I'll code up the back-up plan, and then both cases are covered.

I'll comment in https://github.com/playframework/playframework/pull/2042 and take it from there.  It would be nice to have this in the core.

[2015-04-10 09:55] johdah commented on #7
Could this error be caused by this fix?

"Caused by: org.hibernate.AssertionFailure: collection [models.organizations.Company.contracts] was not processed by flush()"

I haven't seen this error before.

[2015-04-10 09:58] mkurz commented on #7
@schaloner I am testing right now, I'll let you know when I am finished.

[2015-04-10 11:58] schaloner commented on #7
@johdah I wouldn't have thought so, because the fix only changes where the EM is closed, not how it's made available.  In fact, AsyncJPA delegates to play.db.jpa.JPA to actually manage the EMs.

Can you post the full stack trace?

[2015-04-10 12:12] johdah commented on #7
I have restarted my computer since so I lost the log, but I haven't seen the error since. I will post it if I run into it again.

[2015-04-10 12:44] schaloner commented on #7
@johdah I've republished the snapshot using Java 6.

[2015-04-10 12:45] johdah commented on #7
@schaloner Nice!

[2015-04-10 13:20] mkurz commented on #7
I did a code review and some testing now.

The solution "only" works fine as long as there is a `Http.Context` available. This of course should always be the case when you use `@AsyncTransactional` on a controller or an action method (because they are always called from an HTTP request).

**But** as soon somebody uses `AsyncJPA.withTransactionAsync(...)` somewhere where no `Http.Context` is availa

[2015-04-10 13:21] mkurz commented on #7
BTW: I am off for today, maybe I have some time in the evening. Have a nice weekend!

[2015-04-10 13:26] mkurz commented on #7
Maybe we can just make `withTransactionAsync` `private` or `protected`, so nobody calls it the wrong way? With a decenct comment... Also for the PR for the Play repo?

[2015-04-10 15:45] schaloner commented on #7
It's a pity there isn't a call context which lives separately to but complements the HTTP context - this would me a more natural place for the args to exist.

For now, at least, I think it's enough to document this restriction.

Thanks for all your work on this, it's very appreciated!

[2015-04-10 22:20] mkurz commented on #7
@schaloner I made [some comments](https://github.com/schaloner/async-transactions/commit/3dbc11a5a97b0f46168132f54b374ebc45d700ae) on one of your commits.

I really would like to see this in the Play repo, if it's possible even before the first RC of Play 2.4.0 which is [just days or even hours](https://groups.google.com/d/msg/play-framework-dev/7S2163rUzLE/9D0AjdxmFR4J) away - so we wouldn't have

[2015-04-11 08:43] schaloner commented on #7
I've just made the changes based on your suggestion, and made the behaviour  more explicit.  It's committed and published.  I'm not going to have time to prep a PR today, but I should be able to get something out by tomorrow morning (I think we're both in CET right?).

[2015-04-11 09:51] mkurz commented on #7
Go for it. I am based in Vienna. I don't find time til Monday morning probably.

[2015-04-13 06:35] schaloner commented on #7
@mkurtz still haven't had time to do this, and I'll be unavailable all day.  If you have time, can you prep the PR?

[2015-04-13 09:25] mkurz commented on #7
@schaloner OK, I will set up a PR within the next 2 hours.

[2015-04-13 12:39] mkurz commented on #7
@schaloner PR got submitted: https://github.com/playframework/playframework/pull/4225
Please check, if you wish changes or enhancements let me know.

[2015-04-14 11:30] schaloner commented on #7
Thanks. My availability just dropped off the bottom of the page for a couple of days.  I saw the PR was closed because of the deadlock issue - need to have another think about this.

[2015-04-14 11:39] mkurz commented on #7
I opened another PR https://github.com/playframework/playframework/pull/4232 to at least get some changes merged which IMHO should have been there in the first place.
However this doesn't help us here, because James Roper made the `@Transactional` annotation [synchron in Play 2.4](https://github.com/playframework/playframework/commit/853f0cd97509b72843ff0ba09eb2b1a644948e2a#diff-3df74e4be1bfca587a

[2015-04-14 11:40] mkurz commented on #7
I don't know what we can do about this, maybe you have to remove the `Promise`s again from your annotations?

[2015-04-15 06:50] mkurz commented on #7
@schaloner Just that you know, my PR https://github.com/playframework/playframework/pull/4232, which originally targeted our problem, got merged.

[2015-04-15 06:54] schaloner commented on #7
@mkurz I was just reading it now.

So, the question now is, can this issue ever be closed?  The JPA threading restriction seems to be a real tick in the hide of web scale asynchronicity!

[2015-04-16 13:26] johdah opened #8 "b.o.d.j.u.RequestUtils - Error getting subject: Futures timed out after [2000 milliseconds]"
I get this error all the time now.

I guess that it's caused by my getSubject method, but I have timed "Application.getLoggedOnUser()" and it takes  14-27ms so it couldn't be that I guess. So what could cause this?

[code]

My getSubject method looks like this.

[code]

[2015-04-17 08:09] schaloner commented on #8
This is the reason I changed the signature of getSubject in 2.3.3 to return a Subject and not a promise.  You're using 2.3.2, I guess?

[2015-04-17 08:47] johdah commented on #8
Yes, I will update. But I got the following error when rewriting the getSubject method.

[code]

MyDynamicResourceHandler looks like this.

[code]

[2015-04-17 08:58] schaloner commented on #8
DeadboltAnalyzer's methods are not static any more, because people were asking for DI support.  You can declare a static DeadboltAnalyzer in your MyDynamicResourceHandler class and reference that instead.

[2015-04-17 09:53] johdah commented on #8
Thanks! Then it will hopefully work without the errors now then.

[2015-04-19 14:43] varungupta85 commented on #7
Not sure if I am entitled to comment on this post but I have the same problem when I was trying to use Deadbolt with my Play application today and I came across this post. I was able to solve the problem using below code:

        @Override
	public Subject getSubject(Http.Context context) {
		try {
			return JPA.withTransaction(new Function0<Subject>() {
				@Override
				public Subject apply() th

[2015-04-20 05:35] schaloner commented on #7
This is actually a generic error caused by the way transactions are closed by the play.db.jpa.JPA class.

It's possible to fix this issue in Play 2.3 by using this [async transactions module](https://github.com/schaloner/async-transactions) - in Play 2.4, these changes have been patched into the main codebase.

However, the problem is one of deadlocks.  @jroper gives an explanation of the problem

[2015-04-20 06:02] johdah commented on #7
@schaloner You mean that Transactional is patched with what you do in AsyncTransactional in Play 2.4+?

[2015-04-20 06:15] schaloner commented on #7
@johdah to a degree.  The play.db.jpa.Transactional annotation will trigger a [synchronous transaction](https://github.com/playframework/playframework/blob/master/framework/src/play-java-jpa/src/main/java/play/db/jpa/TransactionalAction.java#L16), whereas be.objectify.as.Async will trigger an [asynchronous transaction](https://github.com/schaloner/async-transactions/blob/master/code/app/be/objecti

[2015-04-20 08:36] johdah commented on #7
@schaloner but enough to solve the error causing the entity manager to be closed before the Action when using Deadbolt.

[2015-04-20 08:44] schaloner commented on #7
Yes, because
- with synchronous transactions it isn't an issue
- with asynchronous transactions, asynchronous closing is required.

[2015-04-23 06:15] schaloner commented on #8
No further issues reported on this topic.

[2015-04-23 06:15] #8 closed

[2015-05-14 13:03] mkurz commented on #7
@schaloner FYI:
Some news for my [comment](https://github.com/schaloner/deadbolt-2-java/issues/7#issuecomment-91488550) about annotations ordering: Just a few hours ago [a really good answer](http://stackoverflow.com/a/30222541/810109) was posted on stackoverflow: Regarding this answer `getDeclaredAnnotations()` indeed provides the annotations in a guaranteed order (at least in Java 8) :smile:

[2015-05-18 05:52] schaloner commented on #7
@mkurz good info, thanks for the link.

[2015-05-29 20:18] seantbrady opened #9 "Upgrade to Play 2.4.0"
Play 2.4.0 was released this week.  Will Deadbolt have a release to match?

[2015-06-01 05:47] schaloner commented on #9
It's ongoing at the moment.  I'll keep you updated.

[2015-06-01 15:08] seantbrady commented on #9
Much appreciated.

[2015-06-04 10:36] schaloner commented on #9
`"be.objectify" %% "deadbolt-java" % "2.4.0-SNAPSHOT"` should give what you you're looking for.  Documentation coming later today, but the release notes on https://github.com/schaloner/deadbolt-2-java should be enough to get you started.  All feedback appreciated!

[2015-06-05 08:57] schaloner commented on #9
https://github.com/schaloner/deadbolt-2-java-examples has been updated for the latest version.  The Scala version will be updated later today.

[2015-06-05 08:57] #9 closed

[2015-06-05 10:30] seantbrady commented on #9
Thanks, Steve!

[2015-06-09 19:27] eximius313 opened #10 ""UNRESOLVED DEPENDENCIES""
are you changing something? Because suddenly SBT can not find dependency:
[code]

[2015-06-10 05:42] schaloner commented on #10
The snapshot must have expired.  I'll republish it.

[2015-06-10 05:58] schaloner commented on #10
Try it again, you should find it now.

I'll publish the final of this later today.

[2015-06-10 14:51] eximius313 commented on #10
works!

[2015-06-10 14:51] #10 closed

[2015-07-01 08:23] PR-O opened #11 "Logging as debug instead of info?"
Hi there,

We've recently switched our Playframework app Log level to INFO for development. In case we encounter serious bugs, we switch to DEBUG mode.

With the Log level at INFO, about 1/3 of our log is filled with Deadbolt messages like this one:

        [info] b.o.d.j.a.AbstractDeadboltAction - Getting Deadbolt handler with key [defaultHandler]

It's generated by the [AbstractDeadBoltAction](

[2015-07-01 08:57] schaloner commented on #11
Which version of Deadbolt are you using?

[2015-07-01 08:58] PR-O commented on #11
2.4.0

[2015-07-01 09:01] schaloner commented on #11
I'll go through the code and tinker with the loggnig calls.  In the meantime, you should be able to change the logging level specifically for AbstractDeadboltAction in the log config file (it uses slf4j).

[2015-07-01 09:24] PR-O commented on #11
Cool.

I completely forgot about the slf4j config! Nice, I'll configure the logging rule right now.

[2015-07-01 19:48] schaloner commented on #11
Can I close this?

[2015-07-02 09:50] PR-O commented on #11
Yes, go ahead!

[2015-07-02 09:50] PR-O commented on #11
Or better yet, I'll close it.

[2015-07-02 09:50] #11 closed

[2015-07-08 09:11] danbim opened #12 "No implementation for be.objectify.deadbolt.java.cache.HandlerCache was bound."
Trying to to run deadbolt 2 with play 2.4 (using "be.objectify" %% "deadbolt-java" % "2.4.0")

application.conf:
[code]

Any ideas?

[2015-07-08 09:34] johdah commented on #12
This is how I did it:

in application.conf:
play.modules.enabled += "modules.DeadboltHook"

[code]

[code]

[code]

[2015-07-08 11:01] schaloner commented on #12
It's covered in the quick-start guide: https://github.com/schaloner/deadbolt-2-java/blob/master/QuickStart.md and @johdah also covers it nicely here.

There's also a discussion [here](https://groups.google.com/d/topic/play-framework/KZcCdbWZXvQ/discussion) which might be useful for you.

It's worth noting that `TemplateFailureListener` is optional - you don't need to implement and expose one unles

[2015-07-09 12:02] johdah opened #13 "Problems when upgrading to Play 2.4.x"
I am not sure if this is a problem with Deadbolt. Probably it's something with my code. But I get the following errors when I annotate an action (let's say Application.about)  with SubjectPresent but not if i remove that annotation. Every time I hit refresh it's a different error but always one of these three.

[IllegalStateException: EntityManager is closed]
[PersistenceException: org.hibernate.S

[2015-07-10 07:34] schaloner commented on #13
What happens if you make your `getSubject` blocking?

    public F.Promise<Optional<Subject>> getSubject(Http.Context context) {
        Logger.error("MyDeadboltHandler.getSubject");
        final Subject subject = User.authenticate...
        return F.Promise.pure(Optional.ofNullable(subject));
    }

I can't help feeling that JPA and non-blocking code don't go together...

[2015-07-10 08:16] johdah commented on #13
It still doesn't work. Could it be that you use non-blocking in the library?

[code]

[2015-07-10 09:20] schaloner commented on #13
The only part of Deadbolt that's blocking is the templates, because the promises have to be completed in sequence for templates to be rendered correctly.  Apart from that, everything is non-blocking.

Are you statically calling `JPA.em()` (it looks like it, from the stack trace)?  If so, what happens if you inject `JPAApi ` and use that instead?

[2015-07-10 09:33] johdah commented on #13
I haven't managed to get it to work. I keep getting a Null Pointer Exception when I try to inject JPAApi

[code]

[2015-07-10 09:40] schaloner commented on #13
I suspect your constructor is being called before the field injection.  Personally, I aim to always use constructor injection so that's one approach you can take.

Alternatively, you can use a provider to inject result of `jpa.em("default")` into your DAOs.

[2015-07-10 09:52] johdah commented on #13
How would I do that without causing a compiler error for "actual and formal argument lists differ in length". I still need my classType argument

[2015-07-10 10:00] schaloner commented on #13
Injections occur in sub-classes and are passed into the super class.

    public abstract class AbstractDAO<T extends AbstractModel, M extends AbstractModel_> {
        protected final Class<T> classType;
    //    protected final M metaclass;
        protected final EntityManager em;
        protected final CriteriaBuilder cb;

        /**
         * @param jpaApi Play JPA support
         * @par

[2015-07-10 10:27] johdah commented on #13
I will test that, but how do i create an instance. I still have to pass something for the arguments?

If I want to write new UserDAO(...)

[2015-07-13 05:56] schaloner commented on #13
You have a couple of options:

1. Have a single DAO injected into your controller
2. Get an instance of the DAO from the injector, e.g. `play.Play.application().injector().instanceOf(UserDao.class)`

[2015-07-13 20:39] johdah commented on #13
Nice, I got this error now. Do you think this has to do with Deadbolt? I don't really understand whats causing this error.

[code]

[2015-07-14 06:55] schaloner commented on #13
This is happening because it's taking longer than 1000ms for `DeadboltHandler#getSubject` to complete with an option (either Some or None, it doesn't matter).

Things you can do:

**Increase the global timeout ìn the config**

For example,

    deadbolt {
        java {
            view-timeout=2000
        }
    }

This is not a fix, however - if the DB latency increases, you'll hit the same prob

[2015-07-14 09:16] schaloner commented on #13
I think I was half-asleep when I wrote that reply.  Stand by for something more coherent.

[2015-07-14 18:31] johdah commented on #13
I think the problem is on the database side. I haven't really figured out what param be going into jpaApi.em. So it's probably the database connection I can't get to work so I will have to try to solve that.

So it's deadbolt.java.cache-user, I had deadbolt.cache-user before. So I should change that?

[2015-07-14 21:33] mkurz commented on #7
@schaloner Any news here?
Like mentioned in a comment above this is still an issue in Play 2.4 since `@Transactional` is now using a *synchron* transaction [starting with Play 2.4](https://github.com/playframework/playframework/commit/853f0cd97509b72843ff0ba09eb2b1a644948e2a#diff-3df74e4be1bfca587af8c3ee4bf84152R18). (Even) if we try to solve the problem by writing an own async-transaction annotat

[2015-07-15 07:28] schaloner commented on #13
Yes - all properties are namespaced to the language-specific versions now.

[2015-07-15 07:34] schaloner commented on #7
The cunning back-up plan is to use EBean :-)

JPA, as far as I can see, is incompatible with non-blocking systems.  Since the information Deadbolt requires is read-only - unless you have something in your handler or subject that writes to the DB on access - the only feasible way to make this compatible is to use a non-transactional DB read.  Hence, EBean.

The deeper problem is that you're going t

[2015-07-15 07:38] schaloner commented on #7
The other alternative is to write a version which makes blocking calls until all DB interactions are complete, which is very very annoying.

[2015-07-15 07:41] mkurz commented on #7
I am working on a patch which introduces the setting `deadbolt.java.blocking` (`false` by default) which allows you to control if deadbolt should be blocking or non-blocking. I did some testing with my fix and and works for me. I know you loose all the non-blocking functionallity, but to get JPA working with deadbolt, I don't see any other option.
I will set up a PR for discussion.

[2015-07-15 07:45] mkurz commented on #7
(The problem I think is JDBC itself, as it just isn't designed to be asynchronous: http://mikemainguy.blogspot.co.at/2015/05/the-myth-of-asynchronous-jdbc.html)

[2015-07-15 07:59] mkurz commented on #7
I set up #14 for discussion. @schaloner What do you think? I know it's not beautiful to return `Promise`'s which are not really `Promise`'s anymore, but we could document the `deadbolt.java.blocking` setting mentioning the JPA restrictions.

[2015-07-16 08:47] mkurz commented on #13
@johdah Maybe your problem has something to do with #7. A fix for it (#14) just got merged.
Try `2.4.0.1-SNAPSHOT` and add
[code]
to `application.conf`

[2015-07-16 11:56] johdah commented on #13
I saw that. I have added it to the code but I have a problem with JPA aswell so I need to fix that before I can test if this works.

[2015-07-20 10:40] danbim commented on #12
D'oh! I kind of overlooked the quick-start guide and just did the changes mentioned in the 2.4.0 release notes in README.md... Thanks guys for helping out here and sorry for the work!

[2015-07-20 10:40] #12 closed

[2015-07-23 06:58] schaloner commented on #7
Issue fixed in 2.4.1 - closing by request of OP.

See [#14](https://github.com/schaloner/deadbolt-2-java/pull/14) for further details.

[2015-07-23 06:58] #7 closed

[2015-07-27 08:32] johdah commented on #13
I have this settings:

[code]

but I still get the following error:

[code]

[2015-07-27 08:52] schaloner commented on #13
The default timeout for blocking DB calls is 1000ms - this is unrelated to `view-timeout`.  You can change this with `deadbolt.java.blocking-timeout`, e.g.

    deadbolt {
      java {
        blocking = true # JPA doesn't support non-blocking
        cache-user = true # For the rest of the request
        handler = auth.MyDeadboltHandler
        view-timeout=130000 # Default 1000
        blocking

[2015-08-11 08:47] Aphax opened #15 "Error thrown by Deadbolt when no subject found"
Hello,

I've noticied that Deadbolt was throwing an error every time one tries to access a restricted action with  @Restrict. Our application is 50% full of Deadbolt log because of that, is that the wished behavior ? How can I remove those logs without editing source files ?

Here is a typical error :

[code]

Thanks by advance for your help !

[2015-08-17 10:15] schaloner commented on #15
Sorry for the delay, I've been on vacation.

Do you have a full stack trace for the NullPointerException?

There's also a more recent version available for 2.2:

    "be.objectify" %% "deadbolt-java" % "2.2.1-RC2"

[2015-08-17 13:00] Aphax commented on #15
I have nothing more than the log example I've put in my first post, isn't that enough to know what's about ?
In the light of your answer, I guess the log should'nt be there, should he ?
Will try the suggested version, thanks.

[2015-08-17 13:06] schaloner commented on #15
Somewhere around https://github.com/schaloner/deadbolt-2-java/blob/fa39c7409771245c8d63537391b20d35652e0171/app/be/objectify/deadbolt/java/actions/RestrictAction.java#L55 something is null, but without further logging I can't pinpoint it.  Have you stepped through it with a debugger?

[2015-08-24 06:20] robguinness commented on #7
I am having a similar (if not identical) issue, and I came across this thread. I am trying to understand the status of this issue. The last comment indicates that the issue is fixed with v2.4.1 of deadbolt, but I am still seeing the problem. I am using v2.4.2 of play together with Hibernate. I added the setting deadbolt.java.blocking=true. Am I missing something still?

Here is the exception I'm g

[2015-08-24 08:23] johdah commented on #7
@robguinness  Do you have your @Transactional annotation before you have a Deadbolt subject?

[2015-09-09 05:48] schaloner opened #16 "Access allowed by @Pattern when inverted"
When a Pattern constraint is defined with `invert = true` and no subject is present, access to the resource is allowed.  It should be denied.

[2015-09-09 06:00] schaloner commented on #16
When the pattern type is EQUALITY or REGEX, this is now correctly handled.

When it's CUSTOM, the `invert` flag is can be accessed from `context.args` using the key ConfigKeys.PATTERN_INVERT.  If you want to allow access even if there is no subject, ignore the invert flag; otherwise, return the opposite of your normal result.

This boolean will then be re-inverted internally, meaning that if `inve

[2015-09-09 06:01] #16 closed

[2015-09-14 06:03] #13 closed

[2015-09-15 16:00] slimandslam opened #17 "No custom TemplateFailureListener found"
I'm not sure if this is a deadbolt-2 issue, but I have no idea why it's occurring. When I run my Play app (Play v2.4.3) on my laptop, everything is fine, but on a remote server, I get this cryptic message and the play-authenticate auth does not work. Is there a plausible reason why this error would occur on a cloud server and not on my laptop?

[code]

I tried changing my deadbolt.conf file to thi

[2015-09-16 06:09] schaloner commented on #17
This isn't an issue, but it looks like I should document it better.

Background:
Because constraints are handled in a blocking manner, the promises used are completed with a limit defined by `deadbolt.java.view-timeout`, as you have in your config.

If the promises time out and you have a `TemplateFailureListener` implementation, you'll get notifications of the failure; because the timeout value i

[2015-09-16 06:34] slimandslam commented on #17
Just figured this out. Thanks for the clarification.

Are these log entries related?

[code]

[2015-09-16 06:40] schaloner commented on #17
This is another new feature I haven't got around to documenting yet; you can - you can provide an execution context for Deadbolt to run async code in, instead of the default context provided by Play.

It's mentioned at the bottom of the Scala version's [quickstart guide](https://github.com/schaloner/deadbolt-2-scala/blob/master/QuickStart.md) - I'll update the Java version asap.

I also think I'll

[2015-09-16 17:08] slimandslam commented on #17
Thanks Robert!

[2015-09-16 17:08] #17 closed

[2015-09-17 04:50] schaloner commented on #17
Robert?

[2015-09-17 09:24] schaloner commented on #17
@slimandslam if you change your version to 2.4.3 your logs should be quite a bit cleaner.

[2015-09-17 13:16] slimandslam commented on #17
Steve!  :-)

[2015-09-20 21:51] ntenisOT opened #18 "Template Restrict error"
First of all thanks for the awesome module and the examples.

In your Quickstart for Java you state that:

    @import be.objectify.deadbolt.core.utils.TemplateUtils.{la, as}

is required but I found from your example that both lines below are required. Can you please update the Quickstart?

    @import be.objectify.deadbolt.java.views.html.{restrict, restrictOr}
    @import be.objectify.deadbolt.

[2015-09-21 09:17] schaloner commented on #18
Thanks - I've corrected the quickstart.

[2015-09-21 09:17] #18 closed

[2016-01-20 21:36] kstubbs04 commented on #5
@schaloner I've encountered the exact same issue.  My is exactly as @istvano with the exception that I'm running play 2.3.10.  I get the following stack trace:

	[debug] application - result = null
	[debug] application - creating controller: be.objectify.deadbolt.java.actions.SubjectPresentAction
	[debug] application - result = null
	[debug] application - creating controller: be.objectify.deadbolt

[2016-01-21 08:42] schaloner commented on #5
Can you add a breakpoint at the following location, and check that
* `deadboltHandler` is not null
* `beforeAuthCheck` returns a promise and not null

https://github.com/schaloner/deadbolt-2-java/blob/54754e08eba86c72655ff6d1c9590df681261901/code/app/be/objectify/deadbolt/java/actions/AbstractDeadboltAction.java#L321

[2016-01-21 13:05] kstubbs04 commented on #5
@schaloner deadboltHandler was not null however beforeAuthCheck was returning null instead of a promise.  Thanks for the assist and keep up the excellent work

[2016-03-08 07:36] #5 closed

[2016-03-31 20:28] benmccann opened #22 "Deprecated code used in documentation"
Following [the 2.4.4 docs](https://deadbolt-java.readme.io/v2.4.4/docs/template-constraints) give me a compilation warning that `TemplateUtils.la` and `TemplateUtils.as` are deprecated

[2016-03-31 22:20] schaloner commented on #22
Fixed, thanks!

[2016-03-31 22:20] #22 closed

[2016-04-05 01:53] benmccann opened #23 "Duplicate links"
One the lefthand sidebar "Integrating Deadbolt" it present twice:
https://deadbolt-java.readme.io/docs/integrating-deadbolt

[2016-04-05 06:07] schaloner commented on #23
Fixed, thanks.

[2016-04-05 06:07] #23 closed

[2016-04-05 06:10] schaloner commented on #23
@benmccann Would you be interested in having a link to your project from the Deadbolt website in the "Used by..." section?

[2016-05-04 14:24] #15 closed

[2016-07-19 01:05] benmccann opened #24 "Allow assigning permissions via roles"
Typically in an RBAC system you can assign someone a role and that assigns some set of permissions to them. You shouldn't generally do checks that require a given role to take an action. E.g. if you want the application administrator to have the ability to create a new role and assign it some set of permissions you can't do that with Deadbolt

[2016-07-25 05:45] schaloner commented on #24
Sorry for the delay; GitHub could use a vacation auto-responder.

I'll have a think about this.  All the pieces are there, just no way to conveniently link them.

[2016-07-26 09:09] schaloner commented on #24
@benmccann is something like what's described in the attached patch what you're looking for?  This allows the existing support for roles and permissions, with permissions associated with roles applied like this:

    @RoleBasedPermissions("roleName")
    public CompletionStage<Result> someControllerMethod()
    {
        ...
    }

The role name is used to get the associated permissions from the D

[2016-07-26 18:47] benmccann commented on #24
Yes, something like `getPermissionsForRole` is exactly what I was looking for! Thank you!

I'm not quite sure how `@RoleBasedPermissions("roleName")` is different from `@Restrict(@Group("roleName"))`. I'm not sure it's needed in any case. When doing authorization against a controller, I would want to check permissions instead of roles. I think that's already supported:

    @Pattern("admin.printer

[2016-07-26 20:22] schaloner commented on #24
`@Restrict` checks on the roles the subject has.

`@Pattern` checks on the permissions has.

`RoleBasedPermissions` introduces a layer of indirection, using the role as a key for a set of permissions assigned to it.

I'm not convinced of the use of roles here; it may confuse the issue.  In the example implementation, for example, the annotation name implies to me that a user must have the role and

[2016-07-26 21:19] benmccann commented on #24
I'm having a difficult time understanding your last comment. I think there's a chance we're using "role" to mean different things, so just to be clear, I'll explain how I've always seen "role", "permission", and "subject" used. E.g. here's a slide I found that explains how role based access control works in Angular. I just picked Angular because it was the first example I found, but this is the mo

[2016-07-27 06:32] schaloner commented on #24
At the moment, roles and permissions are separate concepts.  Roles do not imply permissions, and vice versa.

Roles are inherently tied to `Restrict` (both at controller and view level), so when `@Restrict` is used it basically uses `Subject#getRoles` and looks if the subject has the required role.  If multiple (i.e. AND) or alternative (i.e. OR) relationships are defined - let's say `@Restrict(@G

[2016-08-04 04:19] jhuang82cn opened #25 "SubjectPresent.deferred=true does not take effect"
Hi, there

I met a problem where `SubjectPresent.deferred=true` does not take effect when running Deadbolt 2.5 with Play 2.5.x

Through debugging I found that the problem is probably caused by AbstractDeadboltAction.java line 112:

[code]

In runtime I found the `annClass` is a Java `Proxy` and `annClass.isAnnotationPresent(Deferrable.class)` always returns false.

[2016-08-08 08:16] schaloner commented on #24
This is available in version 2.5.1, released on 05/08/2016.

[2016-08-08 08:16] #24 closed

[2016-08-09 12:19] schaloner commented on #25
Thanks, I'll update this in release 2.5.2.

[2016-08-26 12:19] eximius313 opened #26 "Missing parentheses in doc"
Here: https://deadbolt-java.readme.io/docs/template-constraints
you have:
[code]
and should be:
[code]

I'd also add example of ```MyDeadboltHandler``` which can extend ```AbstractDeadboltHandler``` for clarity (because I needed to look for example implementation in the source code)

[2016-08-29 08:16] eximius313 opened #27 "Update the book (F.Promise to CompletionStage)"
Here: https://leanpub.com/deadbolt-2/read it would be good to replace `F.Promise<Optional<Result>>` with `CompletionStage<Optional<Result>>`

[2016-08-29 09:03] schaloner commented on #27
I'm in the process of updating everything to be Play 2.5 compliant.  I'm aiming to publish the latest version in the next two weeks.

Thanks!

[2016-09-20 10:54] 8-bitLincoln opened #28 "@Restrict(@Group("my_group") or @SubjectNotPresent)"
Hi, there

I need something like @Restrict(@Group("my_group") or @SubjectNotPresent)
Can I combine these two annotations?

[2016-09-21 07:30] schaloner commented on #28
If you're using Deadbolt 2.5, there's a feature called composite constraints.  This lets you combine restrictions, but by using a specific `@Composite` annotation.  Composite constraints can be arbitrarily complex, and it would be a nightmare to manage them as annotations (not least because they wouldn't be reusable).

Take a look at https://deadbolt-java.readme.io/docs/composite-constraints for d

[2016-10-05 06:53] schaloner opened #29 "Notify DeadboltHandler when authorization succeeds."

[2016-10-08 18:44] skiotterjeffa commented on #27
Hi Steve

I've used your auth0-integration example for Java from the book and am updating it for Deadbolt 2 2.5.1 and CompletionStage. I'm struggling with onAuthFailure, but everything else seems to compile. I haven't developed anything in over a decade, so I'm having to learn Lambdas, Futures, etc. I'm sure it is something simple.  I'm happy to contribute the updates to this example if that is of

[2016-10-08 19:34] schaloner commented on #27
Hi,

if it's been a while since you developed anything, it might be easier to use anonymous classes to get started.  When using lambdas and chained calls, it can be really easy to lose what you're doing.

Alternatively, use local variables instead of chaining the calls.  This will make it far easier to read.

For example, `maybeSubject` is an `Optional`, which does not have `thenApplyAsync`, etc,

[2016-10-16 13:57] skiotterjeffa commented on #27
Thanks Steve. Your suggestion of using local variables helped.

[2016-10-17 02:27] skiotterjeffa opened #31 "NullPointerException with @SubjectPresent annotation"
Using Play 2.5.6, and updated to 2.5.9 to see if that would fix the problem.  Deadbolt-2 2.5.2.  Started with Auth0 integration example and updating for Play 2.5.

Authentication is working as is the callback.  Redirecting to Application.index is causing a NullPointerException.

It appears in DefaultSubjectCache.apply() that deadboltHandler is null.

As part of the updating to Play 2.5, I've had t

[2016-10-17 07:38] schaloner commented on #31
Can you post your implementation of `be.objectify.deadbolt.java.cache.HandlerCache`?  This is likely the location of the error.

[2016-10-17 17:08] skiotterjeffa commented on #31
Looks like it part of the problem. MyHandlerCache seems to be binding correctly at startup, and deadboltHandler is there. But when it encounters @SubjectPresent in the controller, deadboltHandler is now null.

[code]

[2016-10-17 18:09] schaloner commented on #31
Does it work with other constraints, or are you only using SubjectPresent?

If you only have one handler, you don't need the `handlers` map in the
cache, so you can return your default handler from `apply`.  If this fixes
the problem, it implies the name you're using for the default handler in
`application.conf` is wrong.

On Mon, 17 Oct 2016, 19:08 skiotterjeffa, <notifications@github.com> wrote:

[2016-10-17 21:52] skiotterjeffa commented on #31
returning defaultHandler from apply() solved the problem.

I don't have a default handler named in application.conf.  I thought that with Deadbolt 2.5.x, that was supposed to move to DI and load them in a module?

Investigating further, the key used in `MyHandlerCache` for the default handler is `defaultHandler.handlerName()`, which is set to "security.MyDeadboltHandler" upon application startup.

[2016-10-17 21:57] skiotterjeffa commented on #31
I see `handlers.put(HandlerKeys.DEFAULT.key, defaultHandler);` in another example.  I'm going assume this approach is recommended.

[2016-10-18 07:44] schaloner commented on #31
The problem occurs here: https://github.com/schaloner/deadbolt-2-java/blob/master/code/app/be/objectify/deadbolt/java/actions/AbstractDeadboltAction.java#L95

It's because the default value of `handlerKey` in each constraint annotation is `ConfigKeys.DEFAULT_HANDLER_KEY` because `null` is not permitted.  To make it more robust, I'll update the following in AbstractDeadboltAction.

    protected <C

[2016-10-18 07:45] schaloner commented on #29
Released in 2.5.2

[2016-10-18 07:45] #29 closed

[2016-10-18 07:46] schaloner commented on #26
Docs updated, thanks for the report.

[2016-10-18 07:46] #26 closed

[2016-10-18 07:47] #28 closed

[2016-10-18 21:28] schaloner commented on #31
Version 2.5.3 is available with this fix.  If you breakpoint your cache implementation, you should now see that `get()` is invoked in place of `apply()`.

[2016-10-19 10:01] schaloner commented on #31
Documentation updated: https://deadbolt-java.readme.io/docs/integrating-deadbolt#exposing-the-handlers

[2016-10-21 07:39] #31 closed

[2016-10-22 12:31] skiotterjeffa commented on #31
Thank you, Steve. Will let you know if there are any issues.

[2017-01-15 22:00] rishabh9 opened #32 "The 'meta' specified in the @Composite is not passed on to the sub constraints."
The meta value specified at the controller on a Composite constraint
[code]
is not available to the dynamic constraint (DynamicResourceHandler) which is sub constraint of the composite constraint:
[code]
[code]
Do let me know what other details you require or if I am doing something wrong.

[2017-01-16 07:08] schaloner commented on #32
This is a bug.  I'll fix it and release 2.5.4 asap.

[2017-01-16 08:10] rishabh9 commented on #32
Thanks @schaloner for the quick response. Could you please let me know when I can expect 2.5.4 release? Just want to know if it would be in a couple of days or longer so that I can plan on using an alternative to Composite constraints or hold on to it while the bug is fixed. Thanks again.

[2017-01-16 08:36] schaloner commented on #32
It should be released within the next 12 hours.

[2017-01-16 09:02] rishabh9 commented on #32
Awesome! :raised_hands: Thanks again! :smile:

[2017-01-16 20:19] schaloner commented on #32
This is released as 2.5.4.

There's also a new property on [Composite](https://github.com/schaloner/deadbolt-2-java/blob/master/code/app/be/objectify/deadbolt/java/actions/Composite.java#L78) that instructs on preferred metadata.

If set to true, the metadata defined in the Composite annotation is given priority over metadata defined directly on the constraint.  So, if you have a constraint tree t

[2017-01-17 05:37] rishabh9 commented on #32
Thanks @schaloner. I downloading 2.5.4 now. Will test and update you in sometime.

[2017-01-19 07:00] rishabh9 commented on #32
This is working for me. I'll close it. Thanks.

[2017-01-19 07:00] #32 closed

[2017-03-23 22:18] eximius313 commented on #27
@schaloner, I see that in most sections there is ```CompletionStage``` already, but in section ```7``` there are still  ```F.Promise<Boolean>```. Is it on purpose?

[2017-04-04 08:08] schaloner commented on #27
No, the revision is an ongoing process so there are a few hold-overs.  I need to start working on the book again.

[2017-06-06 14:29] mkurz opened #37 "Deadbolt depends on global state :("
Hi Steve,

if you set `play.allowGlobalApplication = false` in your `application.conf` apps using deadbolt helpers will break.
You probably [already know that](https://twitter.com/steve_objectify/status/864937816828121088).

That's because all your helpers import the current play application:
https://github.com/schaloner/deadbolt-2-java/blob/v2.5.5/code/app/be/objectify/deadbolt/java/views/restric

[2017-06-07 07:42] schaloner commented on #37
I've been thinking about this, and I don't want to break backwards compatibility.  I think the way forward is to extract anything linked to global state into a separate companion library and have purely DI components in the core.  This means, off the top of my head, ViewAccessPoint and all templates.  The new DI templates that will exist in the core will have a package shift to views.di.XXX to avo

[2017-06-07 07:51] mkurz commented on #37
I think this is a very good approach. Actually I was thinking in the same direction during I put #38 together.

[2017-06-17 19:30] schaloner commented on #37
Hi,

I've pulled out the global state (mostly views) into this library: https://github.com/schaloner/deadbolt-2-java-global-state

The templates in *this* library are now in `views.di`.  All tests, etc, updated but there's probably a bunch more stuff I need to do, like expose the templates via a module.  I'll get on this and documentation tomorrow.

[2017-06-17 19:39] mkurz commented on #37
This is really awesome, thanks! I will try and give you feedback as soon as possible (probably Monday)

[2017-06-17 19:41] schaloner commented on #37
I've also added you as a collaborator for the new repo

[2017-06-25 11:32] Paktosan commented on #37
Hi,
I am currently migrating from Play 2.5 to 2.6 and have to upgrade Deadbolt too.
In my project I am using template constraints like `@restrict` and want to continue to use them. I have seen that you removed the way they worked before in favor of injected template what I think is the right way to go. However I have no clue what I have to inject so I would appreciate it if you could give an examp

[2017-06-25 20:44] schaloner commented on #37
Hi,

to use dependency injection in templates, you have to have your templates injected into your controllers.  For example, if you have a controller that uses a template called `foo`, under the 2.5 way of doing things, you would have something like

    import com.example.views.html.foo;
    public class Bar extends Controller {
        public Result somethingFoo() {
                return ok(foo

[2017-07-03 15:05] mkurz commented on #37
@schaloner Thanks for this, the DI approach is working great for me!

[2017-07-03 15:05] #37 closed

[2017-07-28 20:37] Mule52 opened #43 "Infinite timeout when using convenience functions like restrict, restrictOr, etc."
I have a Play Framework Java app that has been growing in users and now I am starting to see some errors that I am having trouble resolving. I am using SmartMeter.io (uses jMeter) to load test and what I find is that these errors occur when I increase my users (simulated users during load testing) from 10 to 50.

The errors all seem to point to where and when I use Deadbolt's template convenience

[2017-07-31 08:31] schaloner commented on #43
I think the problem is caused by concurrent renders * number of Deadbolt template restrictions.  Because all underlying code is executed asynchronously (hence the view-timeout value), you suddenly have a lot of contention.  I think it's worthwhile creating a version of the templates that only execute synchronously in the same thread; I'll get on this as soon as I have some free time, for both Dead

[2017-10-17 07:46] hideki22 opened #45 "Problem with Template constraints"
Hello,

Im using play 2.6.5 and deadbolt 2.6.1 java.

Im trying to add @subjectPresentOr() {}{} but dont work.

im add the import

@import be.objectify.deadbolt.java.views.html.di.{subjectPresent, subjectPresentOr}

but all time say me

Compilation error
not found: value subjectPresentOr

https://deadbolt-java.readme.io/docs/template-constraints

What are doing wrong?

Thanks.

[2017-10-17 09:11] schaloner commented on #45
I need to update the documentation, thanks for bringing this to my attention.

In the meantime, this should work

    @this(subjectPresentOr: be.objectify.deadbolt.java.views.html.di.subjectPresentOr)

because constraints are now injected into templates (Play 2.6 removed the global state that templates previously relied on).  You can see it used in a test [here](https://github.com/schaloner/deadbo

[2017-10-17 09:52] hideki22 commented on #45
Ok, I try but another error,

non-static method render(be.objectify.deadbolt.java.DeadboltHandler,play.data.Form<dto.security.UserDto>) cannot be referenced from a static context

I think it was because i use @this to inyect.

@this(subjectNotPresent: be.objectify.deadbolt.java.views.html.di.subjectNotPresent)
@(deadboltHandler: be.objectify.deadbolt.java.DeadboltHandler, form: play.data.Form[dto.

[2017-10-18 10:42] schaloner commented on #45
`@this(...)` is used inside Deadbolt's templates because they have required Deadbolt components injected into them.

I think the problem is this:
non-static method  xxx referenced from a static context

I think what's happening, without seeing your code, is that you're not injecting your own components into your controllers.  Take a look at [this guide](https://playframework.com/documentation/2.6.

[2017-10-18 10:50] hideki22 commented on #45
Yes, this is the problem... I forgot inyect the view. Now work perfect.

Thank you so much.

[2017-10-18 10:50] #45 closed

[2017-10-18 10:54] schaloner commented on #45
Thanks - I'll update the docs as soon as I have chance.

[2017-10-21 19:41] schaloner commented on #43
If you switch to v2.5.6, released today, you should find this issue solved.

[2017-10-23 12:54] mkurz opened #49 "Use "route modifier tags" for commented routes"
For [commented routes](https://deadbolt-java.readme.io/docs/commented-routes) use
https://www.playframework.com/documentation/2.6.x/Highlights26#Route-modifier-tags? So instead of the `#deadbolt:...` comment syntax we could use "play conform" tags like `+ deadbolt:...` in the routes file now?
(I didn't look into the code to know if thats possible and how it works)

[2017-10-24 15:07] schaloner commented on #49
You're on a role at the moment!

I kept the current style over from 2.5, but it makes sense to move to route modifiers if they're now supported.  I'll keep support for the current style until 2.7.  I'll look into this went I have some time, probably the weekend.

[2017-10-30 08:25] hideki22 opened #53 "ERROR on use comment routes and subject present"
Hello,

Im getting an error when a user is not logged and go to protected route like subjectPresent or subjectNotPresent.

If i access to logging:

[code]
And Im not logged, application say me:

[code]

but, I cant find the error in my class.... The filter are defined like your example:

[code]

What are doing wrong?

Thanks.

[2017-10-30 11:47] hideki22 opened #54 "ERROR at clean dist"
Hello,

I am opting an error when clean dist, javadoc fail in deadbolt2 class.
[code]

This error produce when generate javadoc, and don't generate zip with deploy contents.

[code]

Class contains

[code]

What are doing wrong?

Thanks.

[2017-11-05 19:55] mkurz commented on #43
@Mule52 Can you confirm this is solved for you?

[2017-11-05 21:12] Mule52 commented on #43
@mkurz The fix looks good to me. Thank you for the updates.

[2017-11-05 21:29] mkurz commented on #43
Great, let us know if the error occurs again.

[2017-11-05 21:29] #43 closed

[2017-11-05 21:36] mkurz commented on #25
I can confirm this bug, fix is here: #57
However in future versions of deadbolt I would remove the deferred feature and replace with something better. I will open an issue which explains why and how we can achieve that.

[2017-11-10 03:03] DuongVanTien commented on #24
Hi @schaloner , please!
How to set permission for role?
----------------------------
Let's assume that a role foo gives these permissions:
admin.pr.blog.post.create
admin.pr.blog.post.delete
admin.pr.blog.post.update
admin.pr.twitter.post

[2017-11-13 14:59] mkurz commented on #25
This is fixed and will land in 2.5.7 and 2.6.4

[2017-11-13 14:59] #25 closed

[2018-02-16 15:59] mkurz commented on #54
@hideki22 This is has nothing to do with deadbolt itself. This is a Scala bug: https://github.com/scala/scala-dev/issues/249
To work around this problem put this into your `build.sbt` file:
[code]
Also see http://www.scala-lang.org/news/2.12.0/#scaladoc-can-be-used-to-document-java-sources

[2018-02-16 15:59] #54 closed

[2018-02-16 16:01] mkurz commented on #53
@hideki22 Can you provide more information - like a simple example project where the error occurs so we can reproduce it?

[2018-02-22 14:04] mkurz commented on #49
BTW: Play Java filters have a serious performance issue. Check https://github.com/playframework/playframework/issues/8010.
We could work around that performance problem if the deadbolt filter - instead of extending `play.mvc.Filter` - directly extends its superclass `play.mvc.EssentialFilter`.

[2018-02-24 15:52] eximius313 opened #85 "RoleBasedPermissions are not consistent with Restrict"
Normally I'm using `@Restrict(@Group("MY_ROLE"))` but when I replaced it to `@RoleBasedPermissions("MY_ROLE")` it always enters to `onAuthFailure`

[2018-02-24 16:00] eximius313 opened #86 "@Inherited is not respected"
If I annotate my Controller as `@Restrict(@Group("MY_ROLE"))` - everything works, but if I annotate it as `@MyRoleOnly` where:
[code]
it is ignored, despite the fact `@Restrict` is annotated by `@Inherited`

[2018-02-24 19:59] mkurz commented on #85
Did you implement/override `getPermissionsForRole`?
Which permissions does the subject of that request have? Does it match a permission returned by `getPermissionsForRole("MY_ROLE")`?

[2018-02-24 20:02] mkurz commented on #85
Also `@Restrict(@Group("MY_ROLE"))` does not have to be consistent with `RoleBasedPermissions` - they check for two different things.

`@Restrict(@Group("MY_ROLE"))` "just" checks of the subject has the role `MY_ROLE`, nothing more.
`@RoleBasedPermissions("MY_ROLE")` does not check for the role of the subject itself, but checks if the subject has a permisson that matches one of the permissions ret

[2018-02-25 10:32] eximius313 commented on #85
omg, I just realized, that I misunderstood it as "RoleBased**Restrictions**".
thanks for clarification

[2018-02-25 10:32] #85 closed

[2018-02-25 11:01] mkurz commented on #86
I will check that next week

[2018-02-26 10:53] hideki22 commented on #53
@mkurz I try, but i can reproduce it again, sorry.
I think I have any config wrong in this moment.
In the moment of report bug, I used:

[code]

But now, work ok.

You can close the bug.

Thank you.

[2018-02-26 11:25] mkurz commented on #53
@hideki22 Thanks for you feedback. If the problem occurs again let us know :smile:

[2018-02-26 11:25] #53 closed

[2018-02-28 12:03] mkurz commented on #86
@eximius313 I think your expectation that `@MyRoleOnly` should run/call `@Restrict(@Group("MY_ROLE"))` is wrong. That is not how `@Inherited` works. Please have a look at how `@Inherited` is supposted to work: https://stackoverflow.com/a/23973331/810109
As I understand it, it just means that any class extending a class which is annotated with `@MyRoleOnly` is automatically also annotated with `@My

[2018-02-28 12:03] #86 closed

[2018-02-28 14:18] mkurz opened #89 "Tracking missing documentation"
### General
- [ ] Replace occurences of `F.Promise` in the docs. See #27

### Since version `2.6.3`
- [ ] There is a [`DefaultSubject`](https://github.com/schaloner/deadbolt-2-java/blob/v2.6.3/code/app/be/objectify/deadbolt/java/models/DefaultSubject.java) class that can be used. See pull request #44

### Since version `2.6.4`
- [ ] **`deadbolt.java.cache-before-auth-check=[true | false (default)

[2018-02-28 14:19] mkurz commented on #27
We are tracking all documentation related issues in #89 now.

[2018-02-28 14:19] #27 closed

[2018-02-28 22:02] eximius313 commented on #86
@mkurz could we then make it feature request, to be consistent with [Play Action Composition](https://www.playframework.com/documentation/2.6.x/JavaActionsComposition#Defining-custom-action-annotations)?

[2018-03-01 11:10] mkurz commented on #86
Hmm... I think what you are looking for is https://deadbolt-java.readme.io/docs/composite-constraints?
Action composition is a different topic I think - you can now already create your own action annotation and call (a) desired deadbolt action. You could even use the Composite constraints feature and wrap the example from the docs e.g. `@Composite("curatorOrSubjectNotPresent")` in your own annotat

[2018-03-01 22:12] eximius313 commented on #86
I don't want to have CompositeConstraint nor Action composition. I showed it as an example.
What I want is to have "Domain type" for constraint in the form of annotation (like it is resolved in action composition for example)

[2018-03-01 22:54] mkurz commented on #86
@eximius313 I understand, however in the end `@MyRoleOnly` must be a Play action, otherwise Play doesn't pick up the annotation to run it. It has to be part of the action composition chain. That is a Play thing, not a deadbolt thing. How should Play know that `@MyRoleOnly` annotation on an action method is a constraint? How should Play know what to do with `@MyRoleOnly`? The whole deadbolt constra

[2018-03-01 23:00] mkurz commented on #86
OK, maybe it is possible... Let me think more...:

[code]

Maybe this is possible... I am not sure yet.

[2018-03-06 12:14] mkurz opened #92 "[2.7] Avoid Http.Context.current()"
`Http.Context.current()` will be deprecated in future versions of Play: https://github.com/playframework/playframework/issues/6168

Right now deadbolt uses that method inside [ViewSupport.java](https://github.com/schaloner/deadbolt-2-java/blob/v2.6.4/code/app/be/objectify/deadbolt/java/ViewSupport.java#L101). It should be easy to remove its occurrences and just have the user pass the context to th

[2018-03-12 16:01] #92 closed

[2018-03-20 13:26] bharal commented on #45
I don't see this in the doc, so for future reference you probably want
@this(subjectPresent: be.objectify.deadbolt.java.views.html.di.subjectPresent, subjectPresentOr: be.objectify.deadbolt.java.views.html.di.subjectPresentOr)
This shows how to have *two* items, as opposed to just one. From here on (three, four items) it's self-explanatory.

Actually, it's interesting how so often documentation sh

[2018-04-24 20:32] patrickliangli commented on #49
Any plans on when this might be fixed?

[2018-04-24 20:35] mkurz commented on #49
@patrickliangli If @schaloner or I have time we might fix this before the 2.7 release, however we might not have time :wink: If you want to provide a pull request I am happy to review it!

[2018-07-01 22:14] eximius313 opened #94 "@Dynamic interferes with Config.load"
When I use `ConfigFactory.load();` from controller not annotated with `@Dynamic` - I obtain fully loaded config with variables from `application.conf`
When I annotate method with `@Dynamic` only windows environmental variables are loaded.
`@Restrict` works fine. Deadbolt version: `2.6.4`, Play version: `2.6.15`

To reproduce just do:
[code]

[2018-07-02 08:21] mkurz commented on #94
I will have a look at this as soon as I find time.

[2018-07-13 21:29] eximius313 commented on #94
@mkurz without it, I can not secure dynamic resources :(

[2018-07-15 10:41] mkurz commented on #94
@eximius313 I will have a look coming week if I find time :wink:

[2018-07-21 16:46] eximius313 commented on #94
@mkurz were you able reproduce the problem?

[2018-07-30 17:53] mkurz commented on #94
I doubt this has something to do with deadbolt, not even with Play. You make wrong assumptions about what `ConfigFactory.load()` does and how it works. Since you don't pass a classloader to `load()` I don't think you can rely on what it actually loads (specially in Play dev mode where different classloaders are involved).

You should inject the configuration:

[code]

[2018-07-30 17:53] #94 closed

[2018-07-30 18:57] eximius313 commented on #94
well, javadoc of `ConfigFactory.load()` says: `Loads a default configuration` which is exactly what I want.
Indeed injecting the config works, but the question is: "Why the problem occurs only with `@Dynamic`"?

[2018-07-30 19:50] mkurz commented on #94
Reading the javadoc [here](https://github.com/lightbend/config/blob/v1.3.3/config/src/main/java/com/typesafe/config/ConfigFactory.java#L220-L226):

So this method should be used **by libraries and frameworks**, not by applications itself (but this is what you tried). Also "**in most cases**" doesn't sound really reliable.
This is just not how it works. The way to use configurations in Play is to i

[2018-07-31 16:28] eximius313 commented on #94
Ok, thank you for explanation

[2018-11-22 17:45] mkurz commented on #49
Working on this right now...

[2018-11-23 16:32] mkurz opened #97 "Cross build for Scala 2.13 as soon as Play supports it"
Just a reminder to not forget that.
https://github.com/schaloner/deadbolt-2-java/blob/692a6ac2c6b17cf663ed8df4720078782446d916/code/build.sbt#L7-L8

[2018-11-23 16:49] mkurz opened #98 "AND / OR modes for filters"
### For [`DeadboltRouteModifierTagsFilter`](https://github.com/schaloner/deadbolt-2-java/blob/master/code/app/be/objectify/deadbolt/java/filters/DeadboltRouteModifierTagsFilter.java)

Deadbolt does support multiple deadbolt route modifier tags for one route, which all have to pass to process the route (meaning it's `AND` and *ignores* the [`deadbolt.java.constraint-mode`](https://github.com/schalo

[2019-02-01 08:51] mkurz commented on #97
Fixed in #101

[2019-02-01 08:51] #97 closed

[2019-05-16 06:11] zoyaforever commented on #43
@mkurz

I also encountered this problem.

the error:
[code]

I use 2.6.4

[2020-09-28 18:39] ecagiral commented on #7
Hey @schaloner, sorry for bothering after 5 years but I couldn't understand this one. Blocking line (maybeBlock()) only blocks the thread that calls DeadBolt action. But AbstractDeadboltHandler.getSubject() is already an async operation and will be handled by another thread. That means all DB interactions are not handled in single thread. Moreover if you receive N requests during your getSubject o

[2021-02-26 16:05] giancarlobastos opened #112 "not found: value restrict"
I'm testing template constraints as shown in the documentation, but when I try to compile, I get the error:
[code]

I'm using:
[code]

template code:
[code]

[2021-05-18 09:50] c-lee8 opened #113 "Examples needed for Play 2.8.x Template Constraints"
Hi Steve,

According to the Guide https://deadbolt-java.readme.io/docs/template-constraints

We should include these lines in the view template:

[code]

However this resulted in

[code]

Am I missing some dependencies? I am able to set up the Controller constraints. Perhaps the issue is Dependency Injection related?

I am using
`libraryDependencies += "be.objectify" %% "deadbolt-java" % "2.8.1"`

[2021-05-19 07:44] c-lee8 commented on #113
Ok I found the issue #45  which answered what I was looking for in the closed issues, thanks.

Essentially I needed to use Dependency Injection to put the constraints into the template

https://www.playframework.com/documentation/2.8.x/JavaTemplatesDependencyInjection

[2021-05-19 07:44] #113 closed

[2021-08-05 11:02] dEajL3kA opened #114 "How the get Subject *within* Controller method?"
If I use annotations like `@SubjectPresent` on my controller method, then the `getSubject()` method of my DeadboltHandler implementation is invoked automatically. Dependning on whether a subject was returned or not, the controller method is either allowed to run or not. If the controller method *is* allowed to run: How to get the subject ***within*** the controller method?

[code]

I found the rec

[2022-01-10 11:26] poirierlouis commented on #114
Hi,

As `HttpContext` is no longer exposed, storing Subject using `args` is now a no go. However, you can add information in client's session:

[code]

You can then read session's keys when you need it using `Http.Request`. It might look something like:
[code]
Note that you might not want / need to request Subject entity from a database, but only use id / role fields to test against for access rig

[2022-02-21 20:01] lucassklp commented on #112
I am facing same issue, there's a thread but I still couldn't do the migration
https://github.com/schaloner/deadbolt-2-scala/issues/38

[2022-02-22 09:25] lucassklp commented on #112
I solved this by adding this dependency:
"be.objectify" %% "deadbolt-java-gs" % "2.6.0"

check here https://deadbolt-java.readme.io/docs/template-constraints

[2022-03-06 15:17] lucassklp commented on #112
In fact, using `be.objectify" %% "deadbolt-java-gs" % "2.6.0` not worked for me. It compiled but I got a runtime exception. If I get any news, I update this thread

[2022-04-22 10:31] #114 closed